/* * {
  background: #000;
} */
.App {
  overflow-y: scroll;
  display: flex;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.495) 40%, rgba(248, 249, 136, 1));
}

::-webkit-scrollbar-track {
  background: #000000;
}